@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.circle-right {
  width: 300px;
  height: 300px;
  z-index: 0;
  background: linear-gradient(to top, #172a6d 10%, #231b72 90%);
  filter: blur(120px);
}

.circle-center {
  width: 300px;
  height: 300px;
  z-index: 0;
  background: linear-gradient(to top, #231b72 90%, #231b72 90%);
  filter: blur(120px);
}

.circle-left {
  width: 300px;
  height: 300px;
  z-index: 0;
  background: linear-gradient(to top, #231b72 10%, #172a6d 90%);

  filter: blur(120px);
}